body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  
  
  .title {
    text-align: center;
  }
  
  .title span {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color:  rgb(24, 117, 24);
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    margin-top: 2rem;
    animation: flip 2s;
    animation-delay: calc(0.2s * var(--i));
  }
  /* keys animation */
  @keyframes flip {
    0%,
    80% {
      transform: rotateY(360deg);
    }
  }
  
  .center {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 5%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgb(170, 160, 160);
    transition: 0.3s;
    width: 50%;
    padding: 1rem;
    margin: 1.5rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:transparent;
    color: black;
    animation-name: anime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes anime {
    from {
      opacity: 0%;
      transform: rotateY(0turn);
    }
  
    to {
      opacity: 100%;
      transform: rotateY(1turn);
    }
  }
  
  .container {
    padding: 2px 16px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .container p {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
  }
  
  @media (max-width: 1080px) {
    .center {
      padding: 5rem;
    }
  }
 .animation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
 } 
 .animation video {
  object-fit: cover;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  filter:blur(2px)
 }
 .shop-item-image{
  width: 200px;
  height: 200px;
  padding-left: 55px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

 }
 
