*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    background-image: url(image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

::selection{
    color: #fff;
    background: #007bff;
}
/*------navigation bar ------*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
    transition: background-color 0.5s ease-in-out;
    z-index: 100;
    height: 105px;
    background-color: black;
}
.nav img{
    display: center;
    margin:0 auto;
    transition: 15px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
nav img {
    max-width: 7rem;
    min-height: 7rem;
    object-fit: cover;
}
nav img:hover {
    filter: hue-rotate(30deg);
}
.nav-elements {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
    font-size: 1rem;
}
.nav-elements a {
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
}
.nav-elements a:hover {
    background-color: rgb(24, 117, 24);
    color: white;
    cursor: pointer;
}
.nav-elements li {
    display: flex;
    align-items: center;
}
.nav-elements li div {
    margin-left: 2rem;
} 


.info_box,
.quiz_box,
.result_box{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: green;
    background: #fff;
    padding: 15px 30px;
    border-radius: 30px 30px;
    outline: none;
    border: none;
    cursor: pointer;    
}

.start_btn button:hover{
background: lightblue;
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 30px 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
/*------quiz box ------*/
.quiz_box{
    width: 550px;
    background: #fff;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border-radius: 30px 10px;
}
.quiz_box header{
	flex-direction: row;
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    border-radius: 30px 10px;
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    height: 45px;
    width: 145px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #343a40;
    line-height: 30px;
    text-align: center;
    user-select: none;
    background: #343a40; 
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .que_text{
    font-size: 20px;
    font-weight: 550;
}
section .option_list{
    padding: 20px 0px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option_list .option:last-child{
    margin-bottom: 0px;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
    pointer-events: none;
}
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
/*------footer ------*/
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    border-radius: 30px 10px;
}
footer .total_que span{
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total_que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover{
    background: #0263ca;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/*------result box ------*/
.result_box{
    background: #fff;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border-radius: 30px 10px;
}
.result_box .icon{
    font-size: 100px;
    color: #FAF612;
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(41, 77, 41);
    color: white;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
  }
  
.footer:hover {
    background-color: rgb(96, 164, 96);
  }
   
.footer p {
    margin: 0;
  }
.footer a{
    text-decoration: none;
    background-color: white;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
    transition: all 0.5s ease-in-out;
   }
.footer a:hover {
    background-color: rgb(197, 177, 89);
    color: black;
    cursor: pointer;
  }
  